.single-product {
  form.cart {
    width: 100%;

    .quantity {
      input {
        // lñlñk
      }
    }

    .single_add_to_cart_button {
      display: block;
      width: 100%;
      padding: 1em;
      @apply bg-azul;
      @apply tracking-widest;
      color: #fff;
      text-transform: uppercase;
    }
  }

}
